# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.ini
.idea/
config/

# Log directory
log/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.log

web/admin/.yarn/cache/

web/admin/.yarn/

web/admin/.editorconfig

web/admin/.browserslistrc

web/admin/.eslintrc.js

web/admin/node_modules/

web/admin/dist/

web/admin/.vscode/

static/

web/admin/babel.config.js
