html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
}
/*承载内容的卡片，位于<content>内 */
.ant-card{
    margin: 10px;
    background: white;
    border-radius: 10px;
}
/*表单元素*/
.ant-table{
margin-top: 20px;
}